
.card .card-header {
    display: block !important;
}
.form-select-sm {
    padding-top: 0.388rem !important;
    padding-bottom: 0.388rem !important;
}
.p-tb-0{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.p-tb-1{
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.span-title{
    background-color: #f7f6ff;
}
.table-rol{
    font-size: 10px;
    border: 1px solid;
}
.table-rol .hcent{
    text-align: center;
}
.table-rol .vcent{
    align-content: center;
}
.table-rol th{
    padding: 2px;
}
.table-rol td{
    padding: 2px;
}